* {
  box-sizing: border-box;
}
body {
    background-color:#555;
    margin: 0;
    padding: 0;
    }
body img {
    opacity:50%;
}
header {
    position:fixed;
    margin-bottom:0;
    color: #909;
}
.banner h1, h2 {
    text-align: center;
    font-family: Papyrus, Fantasy;
    text-shadow: 1px 2px 2px red;
}
.carousel-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0;
  padding:0;
  overflow: hidden;
}
.container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: Harrington, Fantasy;
  text-shadow: 3px 5px 5px red;
}

.content p {
  font-size: 1.5rem;
}
#about {
    text-align: center;
    justify-content:center;
    margin: 10%;
}